1 – 11	Bootstrap install
2 – 08	Use template instead of teaplateUrl in app.component.ts
2 – 09 	Use styles instead of styleUrls in app.component.ts
2 – 19	first ($event) – two way data binding
2 – 21	first ngModel
2 – 24 	exercise
2 – 25 – 26 – 27 – 28 	*ngIf   <ng-template>	[ngStyle]
2 – 29	ngClass	
2 – 30	ngFor
2 – 32 	exercise
3 – 09 	recipe.model.ts file
3 – 10 	using recipe.model.ts
3 – 14 	ingredient.model.ts file (easier way)
5 – 5	@Input() 	passing data from child to parent via property binding
5 – 6	@Output()	emitting data
5 – 10	overide ViewEncapsulation
5 – 11 	Local References #
5 – 13 	Local References + @ViewChild
5 – 14	<ng-content></ng-content> hook
5 – 15	Lifecycle – ngOns………()
6 – 2	switch between Nav – a clever way
6 – 4	EventEmitter 2 times! – linking recipe-list with recipe-detail
6 – 6	@ViewChild #LocalReference EventEmitter to make recipe-detail
7 – 3	ngClass ngStyle refresh
7 – 4	Build your own Directive - elRef: ElementRef
7 – 5	Build your own Directive – renderer: Renderer2, elRef: ElementRef
7 – 7	@HostListener 
7 – 8, 9	@HostBinding
7 – 10	Building our own *appDirective + Condition (like: *ngIf)
7 – 11 Building a structural Directive
7 – 12	[ngSwitch]=”value” / *ngSwitchCase=””
8 – 01	Building (our own) dropdown directive / @HostBinding(“class.open”) (toggle a CSS class 'open')
9 – 02	Introducing Services
9 – 04 - 05	Service injection
9 – 08	Service @injectable
9 – 09	Communicating between components - subscribe()
10 – 03	service.get array using .slice() to get a copy of that array <b>.slice() .emit() .subscribe()</b>
10 – 04	recipe – using services instead of Input Output
10 – 06	add things to .slice() doesn’t work, how to fix (by EventEmitter) + subscribe()
10 – 07	reference to recipe.model + adding ingredients to it and recipe
11 – 04	Routing – RouterModule.forRoot(appRoutes)
11 – 07	routerLinkActive=”active” [routerLinkActiveOptions]=”{exact: true}”
11 – 08	constructor(private router: Router) {} this.router.navigate([‘/servers’])
11 – 09	constructor(private route: ActivatedRoute) {}
11 – 10	route: {path: ‘user/:id’, component: UserComponent }
11 – 11 - 12	this.route.snapshot.params.subscrible() -Observable- appDetailCo.
11 – 13	OnDestroy() .unsubscrible()
11 – 14	[queryParams] [fragment]
11 - 15 retrieve  [queryParams] [fragment] and subscribing to it
11 – 16	[routerLink]=[‘/users’, user.id , user.name]
11 – 17	[routerOutlet] Childs, [queryParams]
11 – 17	redirectTo – {path: ‘**’
11 – 22	Routing External app-routing.module.ts – AppRoutingModule
11 – 24	<b>Auth-Guard - canActivate</b>
11 – 25	auth-guard - canActivateChild
11 – 27	Are you sure you want to logout? Message! 	canComponentDeactivate
11 – 28	errorMessage
11 – 30	# Hashtag
12 - 02 practive <em> EXTERNAL ROUTING </em>
12 – 08	this.route.params.subscribe()
13 - 04 Building your own <observable>
13 - 05 applying <Error> and <Complete> to <observable>
13 - 07 <em> Rxjs Operators </em> observable. pipe(filter(data => {}), map(data => {})).subscribe() <!--Pipe-->
15 – 06	ngSubmit() ngForm
15 – 07	ngForm properties 
15 – 08	ngForm properties – using @ViewChild
15 – 15	ngModelGroup=”userData”
15 – 22	FormGroup
